<html lang="en">
<title> {{ inventory_hostname }} </title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            margin: 0 auto;
            padding: 20px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100vh;
            background-size: cover;
            font-family: monospace;
            background-color: #333;
            color: greenyellow;
        }

        body * {
            margin-bottom: 50px;

        }
    </style>
</head>

<body>
    <h1> Welcome {{ my_name }} From ITI WebServer.</h1>
    <div class="cotnainer">
        <div>
            <h3>IP DNS HostName</h3>
            <p>{{ansible_hostname}}</p>
        </div>
        <div>
            <h3>Private IP</h3>
            <p>{{ ansible_eth0.ipv4.address }}</p>
        </div>
    </div>
</body>

</html>